h1{
    margin-top: 120px;
   margin-left: 30%;
}
.gallery {
  
  display: flex;
  
 
  background-color: rgb(185, 152, 152);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
  .gallery img{
    width:300px;
    height: 300px;
  }
  
  a{
    text-decoration: none;
    
    

  }
  .des {
    
 padding: 14px 150px;
    text-align: center;
    background:#85929E;
    font-family:impact;
  }
  .petPic{
    height: 250px;
    width: 300px;
   object-fit: cover;
  }
  
  .textpic p{
    
    font-size: 30px;
   color: white;
   line-height: 60px;
   font-family: Arial;
  }
  .text-display{
    display: inline;
  }
  
  .container{
    display: inline-block;
   
  }
  .box{
    border: 10px saddlebrown;
  }
  main{
  margin-top: 100px;
  height: 100%;
  
  background: white;
 
  width: 100vw;
  }
  .ado2 {
    font-family: arial;
    font-weight: 600;
    font-size: 30px;
    padding: 5px 30px;
     margin-left:10px;
    background-color:white;
    color:  rgb(19 77 65);
    border-radius: 20px;

  }
  .ado{
    font-family: arial;
    font-size: 30px;
    padding: 5px 80px;
     margin-left:10px;
    background-color:white;
    color:  rgb(19 77 65);
    border-radius: 20px;
  }
  .onebox{
    float: left;
    height: 400px;
    width: 300px;
 padding: 30px 25px;
 align-items: center;
    margin-right: 50px;
    border-radius: 10px;
    background-color: rgb(19 77 65);
}
.twobox{
  float: left;
    height: 250px;
    width: 300px;
    margin-right: 20px;
    border-radius: 5px;
}

.content{
  display:inline-block;
  
  padding-top: 100px;
}
.petPic2
{
  height: 350px;
  width: 250px;
}